* {
  margin: 0px;
  padding: 0px;
}
.banner_image1 {
  width: 100%;
}
.trend_zone_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.img-set {
  position: relative;
}

.img-set img {
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
}
.productName_banner {
  text-align: center;
}
.productName_banner img {
  width: 100%;
}
.topStyle_img,
.newArrival_img,
.celebStyle_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 40px;
}
.topStyle_img img,
.newArrival_img img,
.celebStyle_img img {
  width: 100%;
  height: 100%;
}
.banner_image2 {
  width: 100%;
  margin-bottom: 40px;
}
.emptyMsg {
  color: rgba(249, 79, 79, 0.872);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
